<launch>

  <!-- <include file="$(find franka_control)/launch/franka_combined_control.launch">
    <arg name="robot_ips" value=" {franka/robot_ip: 172.17.0.4, franko/robot_ip: 172.16.0.2}" />
    <arg name="robot"           value="$(find franka_description)/robots/dual_fr3/dual_fr3_example.urdf.xacro" />
    <arg name="robot_id"    value="dual_fr3" />
    <arg name="hw_config_file"    value="$(find franka_control)/config/franka_combined_control_node.yaml" />
    <arg name="controllers_file"    value="$(find franka_control)/config/default_combined_controllers.yaml" />
  </include> -->

  <arg name="robot_ips" value=" {franka/robot_ip: 172.17.0.4, franko/robot_ip: 172.16.0.2}" />

  <arg name="robot_id" default="dual_fr3" />
  <arg name="rviz" default="true" />
  <arg name="rqt" default="true" />

  <include file="$(find franka_control)/launch/franka_combined_control.launch" >
    <arg name="robot_id" value="$(arg robot_id)" />
    <arg name="robot_ips" value="$(arg robot_ips)" />
  </include>

  <arg name="arm_id" default="$(arg robot_id)" />
  <!-- <group ns="$(arg robot_id)"> -->
    <!-- <rosparam command="load" file="$(find franka_example_controllers)/config/franka_example_controllers.yaml" subst_value="true" /> -->
    <!-- <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="franka_effort_joint_trajectory_controller franko_effort_joint_trajectory_controller \-\-stopped dual_arm_cartesian_impedance_example_controller"/> -->
    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="--stopped dual_arm_cartesian_impedance_example_controller"/>
    <!-- <node name="interactive_marker_left" pkg="franka_example_controllers" type="dual_arm_interactive_marker.py"
        args="/-/-left_arm_id franka /-/-right_arm_id franko" required="false" output="screen" /> -->

    <node name="listener_node" pkg="rqt_controller_manager" type="rqt_controller_manager" output="screen"/>

    <include file="$(find fr3_multiple_arms_moveit_config)/launch/fr3_mtc_demo.launch">
      <arg name="load_gripper"    value="true" />
    </include>

  <!-- </group> -->

  <include file="$(find franko_moveit_examples)/launch/franko.launch">
    <arg name="move_group" value="franko" />
    <!-- <remap from="/franko/dual_fr3/robot_description" to="robot_description"/>
    <remap from="/franko/dual_fr3/get_planning_scene" to="/franko/get_planning_scene"/> -->
  </include>

  <!-- Run MTC pick and place -->
  <node name="mtc_tutorial" pkg="franko_mtc" type="pick_place_demo" output="screen">
    <param name="execute" value="true" />
    <rosparam command="load" file="$(find franko_mtc)/config/franko_fr3_config.yaml" />
  </node>

</launch>
